{% if notifications %}
    <div class="alert alert-info alert-rounded"> <i class="ti-user"></i>
        {% for notification in notifications %}
            {{ notification }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    </div>
{% endif %}

{% if needsupgrade %}
    <div class="alert alert-info alert-rounded"> <i class="ti-user"></i>
        <b>bad_ip database update</b> – We need to update bad_ip's database to the latest version. &nbsp;&nbsp;
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <a onclick="javascript:document.getElementById('form-action').submit();" href="javascript:void(0);" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-exclamation"></i>
                    </span>
                        <span class="text">Run the updater</span>
                    </a>
                    <form id="form-action" action=" " method="POST">
                        <input type="text" name="action" id="action" value="upgrade" hidden>
                    </form> 
        
    </div>
{% endif %}